.list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-2xs) * 0.57);
}

.newsCard {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: calc(var(--spacing-2xs) * 0.71);
}

.newsTitle {
  font-family: var(--font-heading-2-family);
  font-size: var(--font-body-text-size);
  font-weight: var(--font-heading-2-weight);
  line-height: var(--font-body-text-line-height);
  letter-spacing: var(--font-heading-2-letter-spacing);
  color: var(--color-text);
  margin-bottom: calc(var(--spacing-2xs) * 0.21);
}

.newsMeta {
  font-family: var(--font-body-text-family);
  font-size: var(--font-body-text-size);
  font-weight: var(--font-body-text-weight);
  line-height: var(--font-body-text-line-height);
  color: var(--color-text-muted);
  margin-bottom: calc(var(--spacing-2xs) * 0.21);
}

.newsExcerpt {
  font-family: var(--font-body-text-family);
  font-size: var(--font-body-text-size);
  font-weight: var(--font-body-text-weight);
  line-height: var(--font-body-text-line-height);
  color: var(--color-text-muted);
}
