@theme {
  /* Colors */
  --color-background: #ffffff;
  --color-background-2: #fafafa;
  --color-text: #171717;
  --color-text-muted: #4d4d4d;
  --color-primary: #bd5200;
  --color-secondary: #0070f3;
  --color-accent: #0096ff;
  --color-border: #d1d5db;

  /* Spacing */
  --spacing-3xs: .03889em;
  --spacing-2xs: 14px;
  --spacing-xs: 30px;
  --spacing-sm: 52px;
  --spacing-md: 80px;
  --spacing-lg: 110px;
  --spacing-xl: 8rem;
  --spacing-2xl: 160px;
  --spacing-3xl: 11rem;
  --spacing-4xl: 12rem;
  --spacing-5xl: 13rem;
  --spacing-6xl: 16rem;

  /* Border Radius */
  --radius-none: 0;
  --radius-sm: 2px;
  --radius-md: 5px;
  --radius-lg: 9px;
  --radius-xl: 20px;
  --radius-full: 32px;

  /* Fonts */
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", sans-serif;
  --font-roboto-mono: "Roboto Mono", sans-serif;
  --font-dejavu-sans-mono: "DejaVu Sans Mono", sans-serif;
  --font-geistpixelsquare: "GeistPixelSquare", sans-serif;
  --font-geistpixelgrid: "GeistPixelGrid", sans-serif;
  --font-geistpixelcircle: "GeistPixelCircle", sans-serif;
  --font-geistpixeltriangle: "GeistPixelTriangle", sans-serif;
  --font-geistpixelline: "GeistPixelLine", sans-serif;
  --font-dseg7-classic: "DSEG7 Classic", sans-serif;
  --font-1.21em/1.2-katex_main: "1.21em/1.2 KaTeX_Main", sans-serif;
  --font-katex_main: "KaTeX_Main", sans-serif;
  --font-katex_sansserif: "KaTeX_SansSerif", sans-serif;
  --font-katex_typewriter: "KaTeX_Typewriter", sans-serif;
  --font-katex_math: "KaTeX_Math", sans-serif;
  --font-katex_ams: "KaTeX_AMS", sans-serif;
  --font-katex_caligraphic: "KaTeX_Caligraphic", sans-serif;
  --font-katex_fraktur: "KaTeX_Fraktur", sans-serif;
  --font-katex_script: "KaTeX_Script", sans-serif;
  --font-katex_size1: "KaTeX_Size1", sans-serif;
  --font-katex_size2: "KaTeX_Size2", sans-serif;
  --font-katex_size3: "KaTeX_Size3", sans-serif;
  --font-katex_size4: "KaTeX_Size4", sans-serif;

}