.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: 272px;
  flex: 1;
  padding: 48px 40px;
  background-color: var(--color-background);
  min-height: 100vh;
}

.inner {
  max-width: 1024px;
  min-width: 640px;
  margin: 0 auto;
}
