.metricsSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 24px;
}


.tableCard {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  overflow: hidden;
  margin-top: 40px;
}

.chartSection {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .metricsSection {
    grid-template-columns: 1fr;
  }

  .chartSection {
    grid-template-columns: 1fr;
  }
}
