.section {
  margin-bottom: var(--spacing-2xs);
}

.sectionTitle {
  font-family: var(--font-heading-2-family);
  font-size: 20px;
  font-weight: var(--font-heading-2-weight);
  line-height: var(--font-body-text-line-height);
  letter-spacing: var(--font-heading-2-letter-spacing);
  color: var(--color-text);
  margin-top: 80px;
  margin-bottom: 24px;
}
